.advantages__wrapper {
  padding-top: 43px;
}

.advantages__text {
  margin: 0;

  font-size: 24px;
  font-weight: lighter;
  line-height: 29px;
  color: #283645;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #f2f2f2;
}

.advantages__item-title {
  margin: 0;

  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
}

.advantages__item-description {
  margin: 0;

  font-size: 14px;
  line-height: 24px;
  color: #283645;
}
