.application {
  background-color: #f2f2f2;

  @media (min-width: @tablet-width){
    order: 1;
    background-color: #ffffff;
  }
  @media (min-width: @desktop-width){
    width: 45%;
  }

}

.application__item {
  padding: 25px 0;
}
