.article {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}

.article__wrapper {
  min-height: 331px;
  padding: 54px 20px 54px 20px;
  background-color: #ffffff;

  @media (min-width: @desktop-width) {
    min-height: 423px;
    padding: 54px 130px 54px 130px;
    background-color: #f2f2f2;
  }
}

.article__title {
  margin: 0;

  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
}

.article__description {
  margin: 0;

  font-size: 14px;
  line-height: 24px;
  color: #283645;

  @media (min-width: @desktop-width) {
    font-size: 18px;
    line-height: 30px;
  }
}

.article__link {
  font-size: 14px;
  line-height: 24px;
  color: #d22856;

  @media (min-width: @desktop-width) {
    font-size: 18px;
    line-height: 30px;
  }
}
