.catalog__discription {
  margin: 0;
  padding: 45px 40px 50px 40px;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: #283645;

  @media (min-width: @tablet-width){
    box-sizing: border-box;
    min-height: 228px;
    padding: 88px 65px 50px 65px;
    font-size: 18px;
  }
}

.catalog__list{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.catalog__item {
  @media (min-width: @tablet-width){
    width: 50%;
  }
}

.catalog__item--dayfoto{
  width: 100%;

  @media (min-width: @tablet-width) {
    position: relative;
  }
}

.catalog__post{
  margin: 0 20px;
  padding: 17px 17px 17px 17px;
  background-color: #f2f2f2;
}

.catalog__post-author {
  display: inline-block;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #283645;
  text-transform: none;
  font-style: normal;
}

.catalog__post-time {
  display: inline-block;
  margin: 0;

  font-size: 12px;
  line-height: 24px;
  font-weight: 300;
  text-transform: uppercase;
  color: #283645;
}

.catalog__post-description {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  color: #283645;
}

.catalog__post-like {
  margin: 0 20px;
  padding: 0 20px 20px 50px;
  font-size: 12px;
  text-transform: uppercase;
  color: #d22856;
  background-color: #f2f2f2;
  background-image: url("../img/catalog_icon_heart.svg");
  background-repeat: no-repeat;
  background-position: 16px 0px;
}

.catalog__post-like--dayfoto {
  @media (min-width: @tablet-width){
    position: absolute;
    padding: 0 60px 0 0;
    top: 535px;
    right: 30px;
    background-position: 130px 0px;
  }

}

.catalog__image {
  display: block;
  margin: 20px 20px 0 20px;
}

.catalog__image--dayfoto {
   display: block;
   margin: 0;
}
