.competition {
  background-color: #ffffff;
}

.competition__description {
  margin: 0;
  padding: 53px 20px;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: #283645;

  @media (min-width: @tablet-width){
    padding: 100px 65px;
    font-size: 18px;
  }
}

.competition__description--not-mobile {
  display: none;

  @media (min-width: @tablet-width){
    display: block;
  }
}

.competition__button {
  padding: 20px 47px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #2aab6d;
  border-radius: 5px;
}
