.contact-info {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
      order: 2;
  }

  @media (min-width: @desktop-width){
    width: 100%;
  }
}
.contact-info__item {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column-reverse;
  }
}
.contact-info__title{
  display: none;

  @media (min-width: @tablet-width){
    display: block;
  }
}
