.coopyrite {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.coopyrite__text {
  margin: 0;

  font-size: 14px;
  line-height: 18px;
  color: #283645;

  @media (min-width: @desktop-width) {
    font-size: 18px;
  }
}

.coopyrite__link {
  display: block;
  margin-left: 20px;
}
