.download {
  background-color: #1d2631;
  color: #ffffff;
}

.download__wrapper {
  min-height: 668px;
  padding: 28px 20px 37px 20px;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    min-height: 618px;
  }

  @media (min-width: @desktop-width) {
    min-height: 745px;
    padding: 28px 130px 37px 130px;
  }
}

.download__slogan {
  margin: 0;

  font-size: 24px;
  font-weight: lighter;
  z-index: 1;

  @media (min-width: @tablet-width) {
    font-size: 40px;
    line-height: 48px;
  }

  @media (min-width: @desktop-width) {
    font-size: 50px;
    line-height: 68px;
  }
}

.download__image {
  @media (min-width: @tablet-width) {
    position: absolute;
    right: 0;
    z-index: 0;
  }
}

.download__button-wrapper a {
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
  text-decoration: none;
  color: #ffffff;
  z-index: 1;

  @media (min-width: @desktop-width) {
    font-size: 21px;
  }
}

.download__list {
  margin: 0;
  padding: 0;
  z-index: 1;

  list-style: none;
}

.download__description {
  margin: 0;
  font-size: 14px;
  font-weight: lighter;
  line-height: 24px;
  z-index: 1;

  @media (min-width: @tablet-width) {
    font-size: 18px;
  }
}
