.download {
  background-color: #1d2631;
  color: #ffffff;
}

.download__wrapper {
  padding: 28px 0 37px 0;
}

.download__slogan {
  margin: 0;

  font-size: 24px;
  font-weight: lighter;
}

.download__button-wrapper a {
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
  text-decoration: none;
  color: #ffffff;
}

.download__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.download__description {
  margin: 0;
  font-size: 14px;
  font-weight: lighter;
  line-height: 14px;
}
