.input-text {
  padding: 15px 15px 14px 15px;
  font-family: "Open Sans", "Arial Black", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
  border: 2px solid #e5e5e5;
  border-radius: 1px;

  @media (min-width: @tablet-width) {
    flex-grow: 1;
    margin-left: 20px;
  }
}

.input-text::placeholder {
  font-size: 18px;
  line-height: 30px;
  color: #283645;
}
