.main-navigation__list {
  margin: 0;
  padding: 0;

  list-style: none;

  @media (min-width: @desktop-width) {
    display: flex;
  }
}

.main-navigation__link {
  font-size: 18px;
  font-weight: bold;
  line-height: 32px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;

  @media (min-width: @desktop-width) {
    font-weight: normal;
    text-transform: none;
  }
}
