.my-post__text {
  margin: 0;
  padding: 4px 30px 0 30px;

  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: #283645;

  @media (min-width: @tablet-width) {
    font-size: 18px;
  }
}

.my-post__button{
  padding: 15px 90px;
  border: 3px solid;
  border-radius: 30px;

  font-weight: 700;
  text-align: center;
}
.my-post__button--active{
  color: #d22856;
  border-color: #d22856;
}

.my-post__button--cancel {
  color: #283645;
  border-color: #283645;
  opacity: 0.1;
}
