.page-header {
  background-color: #1d2631;

  @media (min-width: @desktop-width) {
    padding: 20px 130px 0 130px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.page-header--nav-opened {
  @media (max-width: @mobile-tablet-width-only) {
    background-color: #283645;
  }
}

.page-header__logo {
  width: 74px;
  height: 23px;
  padding: 23px 20px;

  @media (min-width: @tablet-width) {
    width: 145px;
    height: 40px;
    padding: 20px 20px 50px 20px;
  }

  @media (min-width: @desktop-width) {
    width: 145px;
    height: 40px;
    padding: 20px 0 0 20px;
  }
}
