.popup {
  position: absolute;
  font-family: "Open Sans", "Arial Black", sans-serif;
  background-color: #ffffff;
  box-shadow: 0 10px 6px -4px rgba(0, 0, 0, 0.15);

  @media (min-width: @tablet-width) {
    box-shadow: 0 10px 25px -4px rgba(0, 0, 0, 0.15);
  }
}

.popup__title {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  text-align: center;
  background-color: #ffffff;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 40px;
  }
}

.popup__description {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  background-color: #ffffff;

  @media (min-width: @tablet-width) {
    font-size: 18px;
    line-height: 24px;
  }
}


.popup__button {
  margin: 0 auto;
  height: 59px;
  color: #ffffff;
  background-color: #2aab6d;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: bold;
}

.popup__success {
  display: none;
  box-sizing: border-box;
  width: 320px;
  height: 365px;
  top: 1895px;
  left: 50%;
  transform: translate(-50%);

  @media (min-width: @tablet-width) {
    width: 460px;
    height: 432px;
    top: 1635px;
    left: 50%;
    transform: translate(-50%);
  }

  @media (min-width: @desktop-width) {
    width: 780px;
    height: 377px;
    top: 1270px;
    left: 50%;
    transform: translate(-50%);
  }
}

.popup__title--success {
  padding: 40px 0 0 0;

  @media (min-width: @tablet-width) {
    padding: 45px 100px 0 100px;
  }
}

.popup__description--success {
  padding: 27px 28px 32px 27px;

  @media (min-width: @tablet-width) {
    padding: 20px 72px 30px 72px;
  }

  @media (min-width: @desktop-width) {
    padding: 25px 165px 35px 165px;
  }
}

.popup__button-wrapper--success {
  padding: 54px 0 50px 0;
  background-color: #f2f2f2;
}

.popup__button--success {
  width: 279px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 295px;
  }

  @media (min-width: @desktop-width) {
    width: 456px;
  }
}

.popup__failure {
  display: none;
  box-sizing: border-box;
  width: 320px;
  height: 295px;
  top: 1422px;
  left: 50%;
  transform: translate(-50%);

  @media (min-width: @tablet-width) {
    width: 460px;
    height: 363px;
    top: 1160px;
    left: 50%;
    transform: translate(-50%);
  }

  @media (min-width: @desktop-width) {
    width: 780px;
    height: 377px;
    top: 820px;
  }
}

.popup__title--failure {
  padding: 40px 0 0 0;

  @media (min-width: @tablet-width) {
    padding: 45px 100px 0 100px;
  }

  @media (min-width: @desktop-width) {
    padding: 40px 100px 0 100px;
  }
}

.popup__description--failure {
  padding: 25px 20px 0 20px;

  @media (min-width: @tablet-width) {
    padding: 20px 80px 0 80px;
  }

  @media (min-width: @desktop-width) {
    padding: 20px 200px 60px 200px;
  }
}

.popup__button-wrapper--failure {
  padding: 43px 0 43px 0;

  @media (min-width: @tablet-width) {
    padding: 35px 0 35px 0;
  }

  @media (min-width: @desktop-width) {
    background-color: #f2f2f2;
    padding: 55px 0 58px 0;
  }
}

.popup__button--failure {
  width: 279px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 296px;
  }
}
