.price {
  background-color: #e5e5e5;
}

.price__table-wrapper {
  padding: 82px 0 50px 0;
}

.price__caption {
  background-color: #283645;
}

.price__caption-title {
  margin: 0;

  font-size: 16px;
  font-weight: bold;
  line-height: 30px;
  color: #ffffff;
  text-transform: uppercase;
}

.price__caption-text {
  margin: 0;

  font-size: 18px;
  font-weight: lighter;
  line-height: 30px;
  color: #ffffff;
}

.price__option {
  background-color: #ffffff;
}

.price__option-text {
  margin: 0;

  font-size: 14px;
  line-height: 30px;
  color: #283645;
}
