.review__wrapper {
  position: relative;
  min-height: 300px;
  padding: 55px 20px 0 20px;

  @media (min-width: @desktop-width) {
    min-height: 440px;
    padding: 70px 130px 0 130px;
  }
}


.review__item {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @tablet-width) {
    flex-direction: column-reverse;
  }

  @media (min-width: @desktop-width) {
    width: 73%;
    margin: 0 auto;
    padding-top: 126px;
  }
}

.review__item--second {
  display: none;
}

.review__item--third {
  display: none;
}

.review__author-name {
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  line-height: 30px;
  text-align: center;

  @media (min-width: @tablet-width) {
    display: block;
    padding: 40px 0 5px 0;
    font-size: 20px;
  }

  @media (min-width: @desktop-width) {
    font-size: 24;
  }
}

.review__author-description {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    margin: 0;

    font-size: 14px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    font-size: 18px;
  }
}

.review__text {
  margin: 0;
  padding: 20px 5px 5px 5px;

  font-size: 14px;
  line-height: 30px;
  color: #283645;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 18px;
    padding: 0;
  }
}

.reviews__prev,
.reviews__next {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
    position: absolute;
  }
}

.reviews__prev {
  top: 40%;
  left: 10%;
}

.reviews__next {
  top: 40%;
  right: 10%;
}

.review .review__toggles {
  margin: 40px 0 30px 0;

  @media (min-width: @desktop-width) {
    display: none;
  }
}
